@model VerzovaciSystem.Models.VersionsFlagViewModel

@{
    ViewBag.Title = "Log soubor";
}

<h2>Obsah log souboru k události č. @Model.VersionFlagEntity.Id verze č.@Model.VersionFlagEntity.VersionLogId </h2><br/>

<h4>@Model.VersionFlagEntity.File</h4>

